$font: "Comic Sans MS", cursive, sans-serif;
$primary-red: #CB4335;
$primary-yellow: #F4D03F;
$primary-grey: #ABB2B9;

.grid-contrainer {
  display: grid;
  grid-template-areas:
          'menu main main main main main'
          'menu main main main main main'
          'menu main main main main main';
  width: 100%;
  margin-top: 5px;
  grid-gap: 10px;
}

.basic-bar {
  border-style: solid;
  border-radius: 25px;
  border-color: $primary-yellow;
  background: $primary-red;
  padding: 15px;
  color: $primary-yellow;
}

.side-bar {
  grid-area: menu;

}
.main-bar {
  grid-area: main;
}

.margin-top {
  margin-top: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}